# ==========================================
# 🌍 GLOBAL VARIABLES (Applies to all)
# ==========================================
PUID=1000
PGID=1000
TZ=Europe/London
DOCKER_DIR=/home/username/homelab-repo/config
WIREGUARD_PRIVATE_KEY=Enterwireguardprivatekeyhere
# ==========================================
# 💾 STORAGE POOLS (MergerFS Mounts)
# ==========================================
MEDIA_DIR=/mnt/pathtostorage/media
DATA_DIR=/mnt/pathtostorage/data

# ==========================================
# 🎬 APP: PLEX
# ==========================================
PLEX_PORT=enterPlexPortHere
PLEX_CLAIM_TOKEN=claim-EnterPlexClaimTokenHere

# ==========================================
# ☁️ APP: NEXTCLOUD
# ==========================================
NEXTCLOUD_PORT=enterNextcloudPortHere
MYSQL_ROOT_PASSWORD=enterMySQLRootPasswordHere
MYSQL_PASSWORD=enterMySQLPasswordHere

# ==========================================
# 🔒 APP: PRIVBROWSE
# ==========================================
BROWSER_HTTP_PORT=enterBrowserHTTPPortHere
BROWSER_HTTPS_PORT=enterBrowserHTTPSPortHere

# ==========================================
# 🔒 SERVER: SAMBA
# ==========================================

SMB_PORT_139=139
SMB_PORT_445=445
smb_user=enterSambaUsernameHere
smb_password=enterSambaPasswordHere