# Ignoring .env file
.env

# Ignoring Plex config directory
/docker/plex/config/

# ignore Nextcloud config directory
/docker/nextcloud/config/

# Ignoring Nextcloud data directory (maps to your MergerFS pool)
/docker/nextcloud/db/